In [32]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [42]:
df=pd.read_csv("Visadataset.csv")

In [43]:
df.head()

  case_id continent education_of_employee  ... unit_of_wage full_time_position  case_status
0  EZYV01      Asia           High School  ...         Hour                  Y       Denied
1  EZYV02      Asia              Master's  ...         Year                  Y    Certified
2  EZYV03      Asia            Bachelor's  ...         Year                  Y       Denied
3  EZYV04      Asia            Bachelor's  ...         Year                  Y       Denied
4  EZYV05    Africa              Master's  ...         Year                  Y    Certified

[5 rows x 12 columns]

In [35]:
df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [36]:
profile=ProfileReport(df,title="pandas profile report", explorative=True)

In [37]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [38]:
profile.to_file("ouput.html")

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [41]:
import dtale

In [ ]:
dtale.show(df)

In [47]:
import sweetviz

In [51]:
report=sweetviz.analyze(df)
report.show_html("sweetviz report.html")

                                             |                                             | [  0%]   00:00 ->…

Report sweetviz report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

NameError: name 'show' is not defined